<router-outlet></router-outlet>
<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span>Mon Folio</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button >Formations</a>
      <a mat-button >Expériences</a>
      <a mat-button >Offer</a>
      <a mat-button >Contact</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button >Formations</a>
        <a mat-button >Expériences</a>
        <a mat-button >Offer</a>
        <a mat-button >Contact</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div fxLayout="column" >
        <app-myself></app-myself>
        <mat-divider></mat-divider>
        <app-formations></app-formations>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

