<div class="container row-folio" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card  fxFlex="30%" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p align="justify">
        Bienvenue sur mon Folio, Je m'appelle David GALANTE.Bientot diplomé de l'université de technologie de Troyes, je suis à la recherche de mon premier emploi.
      </p>
      <p align="justify">
        Joyeux,ouvert d'esprit, polyvalent et aimant le rock, je vous propose de prendre connaissance de mon parcours sur ce site realisé en Angular.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card  fxFlex="30%" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p align="justify">
        Bienvenue sur mon Folio, Je m'appelle David GALANTE.Bientot diplomé de l'université de technologie de Troyes, je suis à la recherche de mon premier emploi.
      </p>
      <p align="justify">
        Joyeux,ouvert d'esprit, polyvalent et aimant le rock, je vous propose de prendre connaissance de mon parcours sur ce site realisé en Angular.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card  fxFlex="30%" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p align="justify">
        Bienvenue sur mon Folio, Je m'appelle David GALANTE.Bientot diplomé de l'université de technologie de Troyes, je suis à la recherche de mon premier emploi.
      </p>
      <p align="justify">
        Joyeux,ouvert d'esprit, polyvalent et aimant le rock, je vous propose de prendre connaissance de mon parcours sur ce site realisé en Angular.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
